{% if amount == 0 %}
    Please enter a valid amount
{% else %}
<h3>Lowest number of coins needed to make &pound;{{ amount }}</h3>
<div class="row">
    <div class="col-md-6">
        <table class="table table-bordered">
            {% for coinName, coinCount in coinCounts %}
                <tr{% if coinCount > 0 %}  class="warning"{% endif %}>
                    <th class="col-md-2 text-center">{{ coinName }}</th>
                    <td>{{ coinCount }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endif %}